@import "tailwindcss";

@theme {
  
  --color-ocean-950: #050A18; 
  --color-ocean-900: #0B132B; 
  --color-ocean-800: #1C2541; 
  --color-ocean-400: #00DDEB; 
  --color-ocean-300: #5BC0BE; 
  --color-ocean-100: #EFFFFF; 
}


body {
  background-color: var(--color-ocean-950);
  color: var(--color-ocean-100);
  margin: 0;
  overflow-x: hidden;
}


.glass-card {
  background: rgba(28, 37, 65, 0.4);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0, 221, 235, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.8);
}